@media only screen and (max-width:700px) {
  body {
    background-color: #eff6e0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    }

    header {
    background-color: #EFF6E0;
    }
    
    #logo {
    
      display: flex;
      justify-content: center;
      width: 20%;
      
    }
    
    * {
      margin: 0 auto;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Open Sans', sans-serif;
    }
    
    #menu{
      background-color: rgb(37, 37, 39);
    }
    
    #menu ul {
      max-width: 800px;
      list-style: none;
      padding: 0;
    }
    
    #menu ul li {
      display: inline;
    }
    
    #menu ul li a {
      color: #FFF;
      padding: 5px;
      display: inline-block;
      text-decoration: none;
      transition: background .4s;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
    }
    
    #menu ul li a:hover {
      background-color: rgb(24, 139, 233);
    }
    
    #menu ul li:last-child a {
      float: right;
      background-color: rgb(24, 139, 233);
    }
    
    
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      width: 360px;
      height: 280px;
    }
    
    
    .main-heading {
      padding: 2rem 0 2rem 0;
    }
    
    .content {
      position: relative;
    }
    
    
    .carousel-content {
      position: absolute;
    
      
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 50;
    }
    
    .carousel-heading {
      font-size: 3rem;
      color: #308d46;
      margin-bottom: 1rem;
    }
    
    
    .slideshow {
      height: 100%;
      overflow: hidden;
    
      
      position: relative;
    }
    
    
    .slideshow-wrapper {
      display: flex;
    
      
      width: 400%;
      height: 100%;
      position: relative;
    
      
      animation: slideshow 20s infinite;
    }
    
    
    .slide {
      width: 100%;
      height: 100%;
    }
    
    .slide-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      
    }
    
    
    @keyframes slideshow {
      0% {
          left: 0;
      }
    
      10% {
          left: 0;
      }
    
      15% {
          left: -100%;
      }
    
      25% {
          left: -100%;
      }
    
      30% {
          left: -200%;
      }
    
      40% {
          left: -200%;
      }
    
      45% {
          left: -300%;
      }
    
      55% {
          left: -300%;
      }
    
      60% {
          left: -200%;
      }
    
      70% {
          left: -200%;
      }
    
      75% {
          left: -100%;
      }
    
      85% {
          left: -100%;
      }
    
      90% {
          left: 0%;
      }
    }
    
    
    .slide-btn {
      background-color: #598392;
      border-radius: 50%;
      border: .2rem solid #124559;
      width: 1.2rem;
      height: 1.2rem;
      outline: none;
      cursor: pointer;
    
      
      position: absolute;
      bottom: 3%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 70;
    }
    
    
    .slide-btn-1 {
      left: 45%;
    }
    
    .slide-btn-2 {
      left: 50%;
    }
    
    .slide-btn-3 {
      left: 55%;
    }
    
    .slide-btn-4 {
      left: 60%;
    }
    
    
    .slide-btn-1:focus~.slideshow-wrapper {
      animation: none;
      left: 0;
    }
    
    .slide-btn-2:focus~.slideshow-wrapper {
      animation: none;
      left: -100%;
    }
    
    .slide-btn-3:focus~.slideshow-wrapper {
      animation: none;
      left: -200%;
    }
    
    .slide-btn-4:focus~.slideshow-wrapper {
      animation: none;
      left: -300%;
    }
    
    
    .slide-btn:focus {
      background-color: #308d46;
    }
    
    h2 {
      color: #000000;
      font-weight: bold;
      margin-bottom: 20px;
      }
    
      
    
    footer {
    background-color: #aec3b0;
    padding: 20px;
    margin-top: 20px;
    }
    
    p {
    color: #124559;
    }
    
    h3 {
    color: rgb(0, 0, 0);
    font-weight: bold;
    }
    
    
    main div:nth-child(2) {
      display: grid;
      grid-template-columns: 50% 50%;
      width: 400px;
      display: grid;
      justify-content: center;
    }
    
    .grid {
      display: grid;
      grid-template-columns: 50% 50%;
      width: 400px;
      display: grid;
      justify-content: center;
    }
    
    .grid2 {
      display: grid;
      grid-template-columns: 50% 50%;
      width: 400px;
      display: grid;
      justify-content: center;
    }
    
    .grid5 {
      display: grid;
      justify-content: center;
      grid-template-columns: 40% 40%;
    }
    
    .cor9 {
      background-color: #8ca0ff;
     border-radius: 10px;
     height: 3.2rem;
     width: 8.3rem;
     position: absolute;
    }
    
    .nini {
      display: grid;
      grid-template-columns: 50% 50%;
    }
    
    li {
      list-style-type: none;
    }
    
    .section2 {
      display: grid;
      justify-content: center;
      grid-template-columns: 50% 50%;
    }
    
    .texto2 {
      text-align: center;
    }
    
    .texto1 {
      text-align: center;
    }
    
    .rodinha {
      display: grid;
      grid-template-columns: 50% 50%;
      width: 400px;
      justify-content: center;
    }
    
    .botin {
      width: 380px;
      display: grid;
      justify-content: center;
      border-radius: 8px;
    }
    
    .direito {
      width: 380px;
      display: grid;
      justify-content: center;
    }
    
    .fundin {
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
      background-color: #90e0ef;
      width: 157px;
    }
    
    .preco {
      background-color: #90e0ef;
      width: 50%;
      position: relative;
      left: -25%;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
    }
    
    section a {
      text-decoration: none;
    }
    
    .produto {
      margin-bottom: 20px;
    }
    
    .fundin2 {
      border-top-right-radius: 29px;
      border-top-left-radius: 29px;
      border-bottom-right-radius: 15px;
      background-color: #90e0ef;
      width: 157px;
    }
    
    }